@media (max-width: 576px) {
    .img-logo {
        display: none;
    }
    .pt-sm-3 {
        padding-top: 0;
    }
    .mt-sm {
        margin-top: 1rem!important;
    }
}

/*Conference */




/* Cards Conference */
.card-title {
    color:#72B045;
    text-decoration: underline;
}
hr {
    border: 2px solid #72B045;
}
#paclic-header-org {
    color: #000;
}
/* Organizers */
.organizer {
    width: 250px;
}
.p-organizer {
    text-align: justify;
    text-justify: inter-word;
}
/* Sponsors */
.card-bg {
    background-color:#04333B;
}
.sponsor-name {
    text-decoration: none;
    text-align: center;
}

