.w-15 {
    width: 15rem!important;
}
.committee-card {
    background-color: #F5F7FF;
}
.chair-name {
    font-size: 1.5em;
}
.floating-underline.conference-line::after {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    width: 20%;
    content: " ";
    border-top: 2px solid #000;
}
.floating-underline.alt.v2::after {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    width: 8%;
    content: " ";
    border-top: 2px solid #000;
}