@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

body {
    background-color: #F5F7FF;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

* {
    font-family: 'Montserrat', sans-serif;
}

.border-rounded {
    border-radius: 15px;
}

.border-left-rounded {
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

.border-right-rounded {
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

.floating-underline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.floating-underline::after {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    width: 15%;
    content: " ";
    border-top: 2px solid #fff;
}

.floating-underline.alt::after {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    width: 15%;
    content: " ";
    border-top: 2px solid #000;
}

/* PACLIC TEXT ALIGNMENTS */
p {
    text-align: justify;
}

/* PACLIC HEADER */
.paclic-header-white {
    color: #fff;
}

.paclic-header-green {
    color: #72B045;
}

/* PACLIC Cards */
.card {
    border-radius: 47px;
}

.card-text {
    font-size: 14px !important;
}

/* PACLIC BG COLORS */
.bg-green {
    background-color: #04333B;
}

/* Footer */
footer {
    background-color: #F5F7FF;
}

.footer-title {
    color: #04333B;
}

.footer-link {
    font-size: 15px;
    color: #383030 !important;
    text-decoration: none !important;
}

.footer-home {
    border-right: 2px solid #04333B;
}

.footer-border {
    border-top: 1px solid #707070;
}

.social-icons {
    text-decoration: none !important;
    color: #72B045 !important;
    font-size: 30px;

}

#footer-bottom {
    background-color: #04333B;
    color: #fff;
    font-size: 15px;
}